@{
    var Title = "Radio";
    var path = @"TextFile1.txt";
    var fileContents = "";
    var physicalPath = Server.MapPath(path);
    var userMessae = "The time is: " + DateTime.Now;
    var userErrMsg = "";
    var errMsg = "";

    if(IsPost)
    {
        try 
	    {	        
		    fileContents = File.ReadAllText(physicalPath);
	    }
	    catch (Exception)
	    {
		
		    throw;
	    }
    }else{
        File.WriteAllText(phyicalPath, userMessage);
    }
}
<!DOCTYPE html>
<html>
    <head>
        <title>@Title</title>
    </head>
    <body>
        <form method="post" action="">
            <input type="submit"value="Open File" />
            <p>@fileContents</p>
            <p>@userErrorMsg</p>
        </form>
    </body>
</html>
